img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  color: var(--title-text-color);
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.page {
  // @include font(Roboto, normal, null, null, null, null, none);
  background-color: var(--background-page-color);
  color: var(--title-text-color);
  
}
