:root {
  --primmary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --background-page-color: #ffffff;
  --background-hero-color: #c4c4c4;
  --team-action-color: #f5f4fa;
  --background-bottom-color: #2f303a;
  --logo-top-color: #000000;
  --bottom-text-color: rgba(255, 255, 255, 0.6);
  --card-portfolio-color: #eeeeee;
  --soc-icons-color: #afb1b8;
  --button-form-color: #188ce8;
}

@mixin font($ffem:Roboto, $fst:normal, $fw, $fs, $lh, $ls, $td:none) {
  font-family: $ffem;
  font-style: $fst;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-decoration: $td;
}

.page {
  @include font('Roboto', normal, null, null, null, null, none);
}
.logo {
  @include font('Raleway', normal, 700, 26px, 1.2, 0.03em, none);
}
.section-title {
  @include font('Roboto', normal, 400, 36px, null, 0.03em, none);
}
.site-nav,
.list-top {
  @include font('Roboto', normal, 500, 14px, 16px, 0.02em, none);
}
.hero-title {
  @include font('Roboto', normal, 900, 44px, 1.36, 0.06em, none);
}
.hero-action {
  @include font('Roboto', normal, 700, 16px, 1.88, 0.06em, none);
}
.form-title {
  @include font('Roboto', normal, 700, 20px, 23px, 0.03em, none);
}
.form-label,
.form-field textarea::placeholder {
  @include font('Roboto', normal, 400, 12px, 14px, 0.01em, none);
}
.label-policy {
  @include font('Roboto', normal, 400, 14px, null, 0.03em, none);
}
.button-form {
  @include font('Roboto', normal, 700, 16px, 30px, 0.06em, none);
}
%font-type {
  @include font('Roboto', normal, 500, 14px, 1.4, 0.02em, none);
}
.activity-title {
  @include font('Roboto', normal, 700, 14px, 16px, 0.03em, none);
}
.benefits-sub-title {
  @include font('Roboto', normal, 400, 14px, 1.14, 0.03em, none);
}
.section-sub-title {
  @include font('Roboto', normal, 500, 16px, 1.19, 0.03em, none);
}
.team {
  & .text {
    @include font('Roboto', normal, 400, 16px, 1.19, 0.03em, none);
  }
}
.text,
.address-footer {
  @include font('Roboto', normal, 400, 14px, 1.71, 0.03em, none);
}
.bottom-items {
  @include font('Roboto', normal, 400, 14px, 24px, 0.03em, none);
}
.join-sub-title {
  @include font('Roboto', normal, 700, 14px, 16px, 0.03em, none);
}
.list-action {
  @include font('Roboto', normal, 500, 16px, 1.63, 0.03em, none);
}
.card-heading {
  @include font('Roboto', normal, 400, 18px, 36px, 0.06em, none);
}
.card-text {
  @include font('Roboto', normal, 400, 16px, 1.88, 0.03em, none);
}
.card-cover-text {
  @include font('Roboto', normal, 400, 18px, 28px, 0.03em, none);
}